<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/login/css/styles.css}" href="/login/css/styles.css">

  <title>Login</title>
</head>
<body>
  <div class="login">
    <div class="login__ambient" aria-hidden="true"></div>

    <form class="login__form" th:action="@{/login}" method="post">
      <h1 class="login__title">Login</h1>

      <p class="login__message" th:if="${loginMessage}" th:text="${loginMessage}"></p>

      <div class="login__content">
        <div class="login__box">
          <i class="ri-user-3-line login__icon"></i>

          <div class="login__box-input">
            <input type="text" required class="login__input" id="login-username" name="username" placeholder=" ">
            <label for="login-username" class="login__label">Username</label>
          </div>
        </div>

        <div class="login__box">
          <i class="ri-lock-2-line login__icon"></i>

          <div class="login__box-input">
            <input type="password" required class="login__input" id="login-pass" name="password" placeholder=" ">
            <label for="login-pass" class="login__label">Password</label>
            <i class="ri-eye-off-line login__eye" id="login-eye"></i>
          </div>
        </div>
      </div>

      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

      <div class="login__check">
        <div class="login__check-group">
          <input type="checkbox" class="login__check-input" id="login-check" name="remember-me">
          <label for="login-check" class="login__check-label">Remember me</label>
        </div>
      </div>

      <button type="submit" class="login__button">Login</button>
    </form>
  </div>

  <script th:src="@{/login/js/main.js}" src="/login/js/main.js"></script>
</body>
</html>
