<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="head(title)">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <title th:text="${title}">Dashboard</title>

  <link rel="stylesheet" th:href="@{/dashboard/css/mocha.css}"/>
  <link rel="stylesheet" th:href="@{/portal/src/css/tabler-icons.min.css}"/>
  <script defer th:src="@{/dashboard/js/dashboard.js}"></script>
</head>
</html>
