spring:
  datasource:
    url: jdbc:h2:mem:portal;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
      data-locations: classpath:db/data.sql
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true